logging/

oscar-facility-catalogue/

oscar-observation-catalogue/

# oscar-instrument-catalogue/

.vscode/
.vscode*


# caches and byte-complied code
__pycache__/
__pycache__*
*.pyc

# jupyter notebooks
*.ipynb
