# caches and byte-complied code
__pycache__*
*.pyc


# sqlite3 database file
*.sqlite3

# yaml config file
*config.yaml

# anything to to with Spyder
*.spy*

# log files
*.log

# jupyter test file
*.ipynb
.ipynb_checkpoints

# vscode stuff
*.json
*.vscode
